
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /siteContent/{contentId} {
      allow read: if true;
      allow write: if request.auth.token.email == 'admin@iphonehub.com';
    }

    match /orders/{orderId} {
      allow create: if true;

      allow read: if request.auth != null && request.auth.uid == resource.data.userId || request.auth.token.email == 'admin@iphonehub.com';

      // Allow a user (guest or auth) to update their own order with verification details
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['otp', 'cryptoTrxId', 'status'])
                    && request.resource.data.status == 'Processing';

      // Allow admin to update any order
      allow update, delete: if request.auth.token.email == 'admin@iphonehub.com';
    }
  }
}

    